<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile Faruq Aziz Saputra</title>

    <link rel="stylesheet" href="assets/styles/style.css" />

    <!-- Font Awesome 5.15.4 -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
  </head>

  <body>
    <header>
      <div class="jumbotron">
        <h1>Welcome to My Personal Website</h1>
        <p>Work Wholeheartedly <i class="fas fa-heart"></i></p>
        <a href="" class="btn">Contact Me</a>
      </div>
      <nav>
        <ul>
          <li><a href="#portfolio">Portfolio</a></li>
          <li><a href="#testimonial">Testimonial</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <div id="content">
        <article id="portfolio" class="card">
          <div class="title"><h2>Portfolio</h2></div>
          <h3>Build an Simple Blogpost using Laravel 8</h3>
          <img
            src="assets/image/index.png"
            class="featured-image"
            alt="portfolio"
          />
          <p>
            <strong>Description : </strong>
           <p>
           
           </p>
           <p>
            For website visitors, they can search for posts based on category, author, time, and kalimta that relate to the post.
           </p>
           <p>
            <i class="fab fa-github"></i><a href="#">  Github link</a>
           </p>
          </p>
        </article>

        <article id="testimonial" class="card">
            <div class="title"><h2>Testimonial</h2></div>
            <div class="row">
              <div class="col">
                <img src="assets/image/man1.png">
                <h4>Alexandre Marin</h4>
                <p>" He worked on the project very professionally! "</p>
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
              </div>
              <div class="col">
                <img src="assets/image/man2.png">
                <h4>Scott Fernandes</h4>
                <p>" Glad to work with you! Hope to collaborate again. "</p>	
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
              </div>
            </div>
        </article>

        <article id="contact" class="card">
          <div class="title"><h2>Contact Me</h2></div>
          <div>
            <input type="email" class="input" placeholder="Enter your email">
            <input type="text" class="input" placeholder="Enter your fullname">
            <textarea class="area" placeholder="Enter your message"></textarea>
          </div>
          <div class="btn">Send Message</div>
        </div>
        </article>
      </div>

      <aside>
        <article class="profile card">
          <header>
            <h2>About Me</h2>
            <figure>
              <img src="assets/image/me.jpg" alt="" />
              <p>Hi there! My name is Faruq Aziz Saputra and I am a junior backend developer. I have a passion for problem-solving and love to learn new things, which is what led me to pursue a career in technology.</p>
            </figure>
          </header>

          <section>
            <div class="socmed">
              <ul>
                <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fab fa-github"></i></a></li>
              </ul>
            </div>
          </section>
        </article>
      </aside>
    </main>

    <footer>
      <p>Personal Website &#169; 2023 - Faruq Aziz Saputra</p>
    </footer>
  </body>
</html>
